@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* colors */
  --color-brand-primary: #86e7b8;
  --color-brand-black: #1b1b1e;
  --color-brand-white: #fbfffe;
  --color-brand-accent: #6d676e;
  --color-brand-success: #93ff96;
  --color-brand-warning: #faa916;
  --color-brand-error: #96031a;

  /* typography */
  /* font families */
  --font-heading: 'Italiana', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  /* font sizes */
  --text-fs-900: 4.5rem;
  --text-fs-800: 3.75rem;
  --text-fs-700: 3rem;
  --text-fs-600: 2.25rem;
  --text-fs-500: 1.5rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* screens */
  --breakpoint-lg: 1000px;
  --breakpoint-md: 760px;
  --breakpoint-sm: 560px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply text-brand-black bg-brand-white dark:text-brand-white dark:bg-brand-black leading-normal tracking-normal overflow-x-hidden font-body text-fs-400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance leading-none;
  }
  p {
    @apply text-pretty;
  }
}
