# Database Configuration
DATABASE_URL=

# CORS configurtions
ALLOWED_ORIGINS=

# Auth configurations
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=# Base URL of your app

# Logging
LOG_LEVEL=

# Rate limiting
RATE_LIMIT_WINDOW=
RATE_LIMIT_MAX_REQUESTS=

# Server Configurations
PORT=
NODE_ENV=